## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/atlassian-ide-plugin.xml
/banned-ips.txt
/banned-players.txt
/CREDITS-fml.txt
/LICENSE-fml.txt
/world
/stats
/saves
/resourcepacks
/mods
/eclipse
/crash-reports
/config
/forge-1.6.4-9.11.1.964-changelog.txt
/ForgeModLoader-client-0.log
/ForgeModLoader-client-0.log.1
/ForgeModLoader-client-0.log.1.lck
/ForgeModLoader-client-0.log.lck
/ForgeModLoader-client-1.log
/ForgeModLoader-client-2.log
/ForgeModLoader-server-0.log
/ForgeModLoader-server-0.log.lck
/ForgeModLoader-server-1.log
/ForgeModLoader-server-2.log
/gradle-app.setting
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/ops.txt
/options.txt
/output-client.log
/output-client.log.1
/output-server.log
/output-server.log.1
/output-server.log.lck
/scalastyle_configuration.xml
/server.log
/server.properties
/white-list.txt
/.scalastyle
/.repository
/.cache
/src/main/java/ic2/*
*.log
*.lck
/*.3
/*.2
/*.4
/*.5
buildcraft
screenshots
*.1
*.xdsl
/logs
/lib
/bacon
Thumbs.db
/asm