## gradle
##/.gradle
##/build

## ForgeGradle
##/run

## eclipse
/.settings
##/.metadata
/.classpath
##/.project
##/bin

## intellij
/out
/.idea
/*.iml
/atlassian-ide-plugin.xml
/banned-ips.txt
/banned-players.txt
/CREDITS-fml.txt
/LICENSE-fml.txt
/world
/stats
/saves
/resourcepacks
/mods
/eclipse
/crash-reports
/config
/.scalastyle
/.repository
/.cache

.gradle/1.11/taskArtifacts/*
.gradle/2.0/taskArtifacts/*
.gradle/2.14/taskArtifacts/*
.gradle/2.7/taskArtifacts/*
.gradle/gradle.log
bin/assets/nullpower/*
build/classes/main/*
build/natives/*
build/resources/main/*
build/retromapping/*
build/sources/java/*
build/sources/main/*
build/taskLogs/*
build/tmp/decompile/*
build/tmp/decompileMc/*
build/tmp/deobfBinJar/*
build/tmp/deobfMcSRG/*
build/tmp/deobfuscateJar/*
build/tmp/expandedArchives/*
build/tmp/jar/*
build/tmp/makeStart/*
build/tmp/recompCls/*
build/tmp/recompileMc/*
build/tmp/recompSrc/*
build/tmp/reobf/*
build/tmp/reobfJar/*
build/tmp/repackMinecraft/*
build/tmp/retromapReplacedMain/*
build/tmp/sourceJar/*
build/unpacked/conf/*
build/unpacked/dev.json
build/unpacked/fmlpatches.zip
build/unpacked/forgepatches.zip
build/unpacked/devbinpatches.pack.lzma
build/unpacked/forge-1.6.4-9.11.1.964-changelog.txt
build/unpacked/mappings/*
build/unpacked/src/*
run/crash-reports/*
run/logs/*
run/mods/*
run/options.txt
run/saves/*
run/screenshots/*
run/usercache.json