## gradle
##/.gradle
##/build

## ForgeGradle
##/run

## eclipse
/.settings
##/.metadata
/.classpath
##/.project
##/bin
/.repository
/.cache

.gradle/1.11/taskArtifacts/*
.gradle/2.0/taskArtifacts/*
.gradle/2.14/taskArtifacts/*
.gradle/2.7/taskArtifacts/*
.gradle/gradle.log
bin/assets/nullpower/*
build/classes/main/*
build/natives/*
build/resources/main/*
build/retromapping/*
build/sources/java/*
build/sources/main/*
build/taskLogs/*
build/tmp/decompile/*
build/tmp/decompileMc/*
build/tmp/deobfBinJar/*
build/tmp/deobfMcSRG/*
build/tmp/deobfuscateJar/*
build/tmp/expandedArchives/*
build/tmp/jar/*
build/tmp/makeStart/*
build/tmp/recompCls/*
build/tmp/recompileMc/*
build/tmp/recompSrc/*
build/tmp/reobf/*
build/tmp/reobfJar/*
build/tmp/repackMinecraft/*
build/tmp/retromapReplacedMain/*
build/tmp/sourceJar/*
build/unpacked/conf/*
build/unpacked/dev.json
build/unpacked/fmlpatches.zip
build/unpacked/forgepatches.zip
build/unpacked/devbinpatches.pack.lzma
build/unpacked/forge-1.6.4-9.11.1.964-changelog.txt
build/unpacked/mappings/*
build/unpacked/src/*
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/MDKExample/.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
eclipse/assets/config/*
eclipse/assets/crash-reports/*
eclipse/assets/icons/*
eclipse/assets/lang/*
eclipse/assets/logs/*
eclipse/assets/music/*
eclipse/assets/records/*
eclipse/assets/options.txt
eclipse/assets/pack.mcmeta
eclipse/assets/READ_ME_I_AM_VERY_IMPORTANT.txt
eclipse/assets/saves/*
eclipse/assets/sound/*
eclipse/assets/sounds/*
run/crash-reports/*
run/logs/*
run/mods/*
run/options.txt
run/saves/*
run/screenshots/*
run/usercache.json